@main("Insert Page") {
<!--Main content-->
<!--********************************************************************************-->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Please Select The Query</h2>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='90' src="@routes.Assets.versioned("images/umdcs.png")"">
                    <div class="caption">
                        <h3>Create DAGR</h3>
                        <p><a href="@routes.ApplicationController.createDagrPage()" class="btn btn-primary" role="button">Create</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='60' src="@routes.Assets.versioned("images/umdcs.png")"">
                    <div class="caption">
                        <h3>Insert Files</h3>
                        <p><a href="@routes.ApplicationController.insertFilePage()" class="btn btn-primary" role="button">Insert</a></p>
                    </div>
                </div>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
}