@main("Insert Page") {
<!--Main content-->
<!--********************************************************************************-->
<div id="headerwrap">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='60' src="@routes.Assets.versioned("images/files.png")"">
                    <div class="caption">
                        <h3>Insert Files</h3>
                        <p><a href="@routes.ApplicationController.insertFilePage()" class="btn btn-primary" role="button">Insert</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='60' src="@routes.Assets.versioned("images/batch.jpg")"">
                    <div class="caption">
                        <h3>Batch Insert Files</h3>
                        <p><a href="@routes.ApplicationController.batchInsertPage()" class="btn btn-primary" role="button">Insert</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='90' src="@routes.Assets.versioned("images/annotation.jpg")"">
                    <div class="caption">
                        <h3>Insert Annotation</h3>
                        <p><a href="@routes.ApplicationController.createAnnotationPage()" class="btn btn-primary" role="button">Create</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='90' src="@routes.Assets.versioned("images/link.png")"">
                    <div class="caption">
                        <h3>Insert Link</h3>
                        <p><a href="@routes.ApplicationController.linkPage()" class="btn btn-primary" role="button">Create</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='90' src="@routes.Assets.versioned("images/rename.jpg")"">
                    <div class="caption">
                        <h3>Rename DAGR</h3>
                        <p><a href="@routes.ApplicationController.renamePage()" class="btn btn-primary" role="button">Create</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="thumbnail equalize">
                    <img width='360' height='90' src="@routes.Assets.versioned("images/turing.gif")"">
                    <div class="caption">
                        <h3>Parse HTML</h3>
                        <p><a href="@routes.ApplicationController.parseHtmlPage()" class="btn btn-primary" role="button">Create</a></p>
                    </div>
                </div>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
}