@main("Query Page") {
    <!--Main content-->
    <!--********************************************************************************-->
    <div id="headerwrap">
        <div class="container">
            <div class="row">

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='60' src="@routes.Assets.versioned("images/name.jpg")"">
                        <div class="caption">
                            <h3>Find by name</h3>
                            <p><a href="@routes.ApplicationController.findByNamePage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='60' src="@routes.Assets.versioned("images/author.jpg")"">
                        <div class="caption">
                            <h3>Find by Author</h3>
                            <p><a href="@routes.ApplicationController.findByAuthorPage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='60' src="@routes.Assets.versioned("images/contentType.jpg")"">
                        <div class="caption">
                            <h3>Find by content type</h3>
                            <p><a href="@routes.ApplicationController.findByTypePage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='60' src="@routes.Assets.versioned("images/fingerprint.jpg")"">
                        <div class="caption">
                            <h3>Find by UUID</h3>
                            <p><a href="@routes.ApplicationController.findByUuidPage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='60' src="@routes.Assets.versioned("images/annotation.jpg")"">
                        <div class="caption">
                            <h3>Find by Annotation</h3>
                            <p><a href="@routes.ApplicationController.findByAnnotationPage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='90' src="@routes.Assets.versioned("images/calendar.jpg")"">
                        <div class="caption">
                            <h3>Find by date</h3>
                            <p><a href="@routes.ApplicationController.findByDatePage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='90' src="@routes.Assets.versioned("images/digraph.jpg")"">
                        <div class="caption">
                            <h3>Reach Query</h3>
                            <p><a href="@routes.ApplicationController.reachQueryPage()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='90' src="@routes.Assets.versioned("images/sterile.jpg")"">
                        <div class="caption">
                            <h3>Sterile Report</h3>
                            <p><a href="@routes.ApplicationController.sterileReport()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='90' src="@routes.Assets.versioned("images/orphan.png")"">
                        <div class="caption">
                            <h3>Orphan Report</h3>
                            <p><a href="@routes.ApplicationController.orphanReport()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail equalize">
                        <img width='360' height='90' src="@routes.Assets.versioned("images/listall.jpg")"">
                        <div class="caption">
                            <h3>List All</h3>
                            <p><a href="@routes.ApplicationController.listAll()" class="btn btn-primary" role="button">Query</a></p>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /headerwrap -->
}